* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	padding: 0;
	margin: 0;
}

input {
	&:hover,
	&:focus {
		outline: none;
	}
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	line-height: 1.3;
	margin: 0;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}